.app__footer{
    background-color: var(--black-color);
    height: 20dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}